doctype html
include /../../static/assets/lib/bootstrap.ldui/main/index.pug
html
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    style(type="text/css"): :stylus
      textarea[ld=regstr]
        font-family: monospace
        font-size: 18px
      [ld=status] span:before
        content: "不符"
        color: #f00
        display: inline
      .pass[ld=status] span:before
        content: "符合"
        color: #090
        display: inline
  body
    .w-1024.rwd.mx-auto.typeset.heading-contrast
      .d-flex.align-items-stretch.my-4(ld-each="rule")
        .text-nowrap.d-flex.align-items-center.justify-content-center(style="width:7em;flex:1 0 auto")
          .text-center
            div(ld="name")
            div(ld="status") #[i]#[span]
        .has-tips.manual.mx-2(style="width:40%;flex:1 0 40%")
          textarea.form-control.text-sm(rows="3",ld="regstr", readonly) 
          .hover-tip.tip-sm.top 已複製
        textarea.form-control.mr-2(ld="check")

    +script("assets/lib/clipboard/main/clipboard.min.js")
    +script("assets/lib/bootstrap.native/main/bootstrap-native.min.js")
    +script("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.js")
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/ldview/main/ldview.min.js")
    +script("assets/lib/curegex/dev/curegex.tw.js")
    script: :lsc
      regstr = [
        {name: "中文字", rule: curegex.get('han')}
        {name: "身份證字號", rule: curegex.get('id')}
        {name: "10位數手機號碼", rule: curegex.get('mobile')}
        {name: "統一編號", rule: curegex.get('vatid')}
        {name: "郵遞區號", rule: curegex.get('zipcode')}
        {name: "電子郵件位址", rule: curegex.get('email')}
        {name: "網址", rule: curegex.get('url')}
      ]

      view = new ldView do
        root: document.body
        handler:
          rule: do
            list: -> regstr
            init: ({node, data, local}) ->
              local.view = new ldView do
                root: node
                context: data
                init:
                  regstr: ({node, context, local}) ->
                    local.clipboard = new ClipboardJS(
                      node, { text: (trigger) -> context.rule }
                    )
                    local.clipboard.on \success, ->
                      clearTimeout local.handle
                      node.parentNode.classList.add \tip-on
                      local.handle = setTimeout (-> node.parentNode.classList.remove \tip-on), 1000

                handler:
                  status: ({node}) -> node.classList.toggle "pass", local.state
                  regstr: ({node, context}) -> node.value = context.rule
                text:
                  name: ({context}) -> context.name
                action: input:
                  check: ({node, context}) ->
                    re = new RegExp(context.rule)
                    local.state = re.exec(node.value)
                    local.view.render \status
            handler: ({node, data, local}) ->
              local.view.setContext data
              local.view.render!
